<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Login</h1>
  <input type="text" id="usernameInput" placeholder="Enter your username">
  <input type="text" id="usernameSend" placeholder="Send Message to">
  <button id="loginButton">Login</button>

  <h1>Send and Receive Message</h1>

  <div id="messageContainer">
    <ul id="messageList"></ul>

    <form id="messageForm">
      <input type="text" id="messageInput" placeholder="Enter your message">
      <button type="submit">Send</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <script>
    const socket = io("ws://localhost:3000");
    const messageList = document.getElementById('messageList');
    const messageForm = document.getElementById('messageForm');
    const messageInput = document.getElementById('messageInput');
    const usernameInput = document.getElementById('usernameInput');
    const usernameSend = document.getElementById('usernameSend');
    const loginButton = document.getElementById('loginButton');

    // Function to handle sending messages
    function sendMessage(event) {
      event.preventDefault();
      const message = messageInput.value.trim();
      if (message !== '') {
        const sendTo = usernameSend.value.trim();
        socket.emit('message', { message : message, sendTo : sendTo });
        messageInput.value = '';
      }
    }

    // Add event listener to the message form for submitting messages
    messageForm.addEventListener('submit', sendMessage);

    // Add event listener to the login button
    loginButton.addEventListener('click', () => {
      const username = usernameInput.value.trim();
      if (username !== '') {
        socket.emit('init', { channelId: username });
      }
    });

    // Listen for incoming messages from the server
    socket.on('message', message => {
      const li = document.createElement('li');
      console.log("message",message);
      li.textContent = message;
      messageList.appendChild(li);
    });
  </script>
</body>

</html>
